@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

.shop-title {
  font-size: 3em;
  color: #2A807D;
}

.shop-id {
  font-size: 3em;
  color: #2A807D;
}

.shop-description {
  font-size: 2em;
  color: #2A807D;
}

.shop-owner {
  color: aliceblue;
}

.shop-search {
  color: aliceblue;
}
.shop-item-el {
  border: 1px solid black;
  width: 200px;
}

.shop-map {
  color: aliceblue;
}

.standard-default {
  font-size: 3em;
}

.standard-ocean {
  background-color: black;
  width: 40vw;
  height: 40vh;
}