@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

.title {
  font-size: 3em;
  color:blue
}

.id {
  font-size: 3em;
  color:blue
}

.description {
  font-size: 2em;
  color:blue
}
.shop-item-el {
  border: 1px solid black;
  width: 200px;
}

