@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

.preview {
  border: 3px solid #0B3E37;
  margin-left: 255px;
  margin-bottom: 25px;
  
}

.default {
  font-size: 1.5rem;
  background-image: url(../../../assets/default-theme.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #0B3E37;
  text-shadow: 1.5px 1.5px 2px rgba(150, 150, 150, 1);
  }

.ocean {
  background-image: url(../../../assets/ocean-theme.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

.light {
  background-image: url(../../../assets/light-theme.png);
  background-size: cover;
  color: rgb(18, 229, 180);
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

.glitch {
  background-image: url(../../../assets/glitch-theme.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffbd59;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

.space {
  background-image: url(../../../assets/space-theme.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

.abstract {
  background-image: url(../../../assets/abstract-theme.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

.shop-preview-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 30%;
  background: rgb(0,6,4);
  background: linear-gradient(90deg, rgba(0,6,4,1) 0%, rgba(10,88,81,1) 60%);
  box-shadow: 2px 2px 3px 0px #078FCD;
  -webkit-box-shadow: 2px 2px 4px 0px #078FCD;
  border-radius: 1px;
  
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.items-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 90%;
  height: 55%;
  margin: auto;
}

.shop-preview-body img{
  width: 100%;
  height: 100%;
}