@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

.about-title {
    color:aliceblue;
    font-size: 100px;
    align-items: center;
}

.about-text {
    color: aliceblue;
}

img {
    width: 100px;
}