@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap%27');

/* font-family: 'Cormorant Garamond', serif; */

.about-container {
    height: 100vh;
    width: 100vw;
    background-image: url(../../background.png);
}

.about-title {
    color: #ffbd59;
    font-size: 80px;
    align-items: center;
    height: 10%;
    width: 100vw;
    position: relative;
    bottom: 90px;
    background-image: url(../../../src/assets/woodboard.png);
}

.meet{
    color: #ffbd59;
    font-size: 40px;
    align-items: center;
    height: 10%;
    width: 100vw;
    
    
}

.about-text {
    color: aliceblue;
    height: 10%;
    width: 100vw;
    position: relative;
    bottom: 6em;
}

.creators {
    color: #ffbd59;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80%;
    width: 100vw;
    position: relative;
    bottom: 2.5em;
    right: 1em;
    font-size: 1.5rem;
}

.tan-img, .con-img, .em-img, .tom-img {
    width: 250px;
}

.qr {
    width: 100px;
    margin: 10px 20px;
}

.socials {
    display: flex;
    flex-direction: row;
}

.tan-linked, .con-linked, .em-linked, .tom-linked {
    margin-left: 9em;
}

.tan-git, .con-git, .em-git, .tom-git {
    margin-left: 5.65em;
}
