@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

.navbar {
  background-image: url(../../background.png);
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #ffbd59;
}

.nav-menu {
  background: url(../../background.png);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  text-shadow: 2px 2px 3px 0px #2a807d;
  -webkit-text-shadow: 2px 2px 4px 0px #cd9c07;
}

.nav-text a {
  text-decoration: none;
  color: #ffbd59;
  background: #232323;  
  box-shadow: 2px 2px 3px 0px #2a807d;
  -webkit-box-shadow: 2px 2px 4px 0px #2a807d;
  border-radius: 15px;
  font-size: 1.5rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: orange;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background: url(../../background.png);
  width: 0%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.welcome {
  align-items: center;
  justify-content: center;
}

