@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

.b-card {
  border: 1px solid #2a807d;
  background: rgb(0,6,4);
  background: linear-gradient(90deg, rgba(0,6,4,1) 0%, rgba(10,88,81,1) 60%);
  justify-content: center;
  height: 400px;
  margin: 30px;
  padding: 20px 15px 15px 20px;
  width: 400px;
  box-shadow: 2px 2px 3px 0px #078FCD;
  -webkit-box-shadow: 2px 2px 4px 0px #078FCD;
  border-radius: 15px;
}

.bc-title {
  font-size: 3em;
  color : #ffbd59;
  margin: 10px;
}

.bc-id {
  font-size: 3em;
  margin: 10px;
  color:#ffbd59;
}

.business_image_el {
  margin: 10px;
}

.bc-description {
  font-size: 2em;
  color: #ffbd59;
  margin: 10px;
}

/* click to enter shop styling begins */
.bc-store {
  width: 500px;
  height: 50px;
  color: #ffbd59;
  background: #111;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
  margin: 10px;
  position: relative;
}

.bc-store:before {
  content: '';
  background: linear-gradient(45deg, #2a807d, #CC9A3A, #0B0D18);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.bc-store:active {
  color: #000
}

.bc-store:active:after {
  background: transparent;
}

.bc-store:hover:before {
  opacity: 1;
}

.bc-store:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* click to enter shop styling ends */