@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

main {
  background-image: url(../../background.png);
  height: 100vh;
  background-repeat: no-repeat;
  color: aliceblue;
}