@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap');

.input-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.inputs {
    font-family: 'Noto Sans Vai', sans-serif;
    color: #078FCD;
    width: 100%;
}